
.article-card {
    position: relative;
}

.article-media {
    display: block;
    position: relative;
    overflow: hidden;
}

.article-media > *{
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.article-media > picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    border-radius: 10px;
}

.article-media > svg {
    border-radius: 10px;
}


.article-media__square {
    padding-bottom: 100%;
}

.article-card__title{
    font-size: 26px;
    font-weight: 700;
    min-height: 100px;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.article-card__title a:after {
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }

.article-card__title .article-card__url{
    text-decoration: none;
    color: #000000;
    display: block;
}

.article-card__info-wrapper {
    display: grid;
    gap: 12px;
    margin-top: 20px;
}

.article-card__excerpt {
    width: 100%;
    margin-top: 12px;
}